
.user-profile-reviews-container{
    display: flex;
    flex-direction: column;
    align-content: baseline;
    justify-content: center;
    /*border: 2px blue solid;*/
    color: black;
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--white-luna);
    border-right: solid 1px var(--light-grey);
}

.user-bottom-page-part{
    display: flex;
}

.user-profile-reviews-title{
    margin-top: 0.2%;
    padding-bottom: 6%;
    /*border: 2px solid fuchsia;*/
}

.user-profile-review-name-datetime {
    /*border: 2px solid green;*/
    margin-top: 3%;
    margin-bottom: 2%;
    border-bottom: solid 0.01rem var(--light-grey);
}

.user-profile-name-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-profile-review-name{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    /*border: 2px solid pink;*/
}

.user-profile-review-time{
    /*border: 2px solid darkred;*/
    margin-top: 0.2%;
    margin-bottom: 3%;
    font-size: 80%;
}

.user-profile-review-time, .user-profile-reviews-rating, .user-profile-reviews-text{
    font-weight: lighter;
}

.user-profile-reviews-text{
    margin-bottom: 1rem;
}

/* review star styling */
.star-container {
  display: inline-block;
  margin-bottom: 3%;
  font-size: 0; /* Remove white space between div elements */

}


