.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: var(--white-luna);
  position: relative;
}

.footer-pages-menu {
  display: flex;
  gap: 4.7rem;
}
.footer-pages-menu a {
  color: var(--link-black);
  font-size: 1.2rem;
}
.footer-pages-menu a.active::after {
  content: "";
  width: 70px;
  top: 0;
  transform: translate(-70px);
  position: absolute;
  border-bottom: 2px solid orange;
  -webkit-transform: translate(-70px);
  -moz-transform: translate(-70px);
  -ms-transform: translate(-70px);
  -o-transform: translate(-70px);
}

.footer-socialmedia-icons {
  display: flex;
  gap: 1.4rem;
}
