.LocationInformationDiv {
  position: absolute;
  top: 2rem;
  left: 65rem;
  border: 1px lightgray solid;
  width: 361px;
  height: 336px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 3px;
  background-color: var(--white-luna);
  color: #000000;
  z-index: 100;
}

.TopDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

.BottomDiv {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.address,
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 7px;
}

.address img,
.phone img {
  margin: 0 20px 0 0;
}

.website {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0px;
}

.website img {
  margin: 0 13px 0 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: var(--orange-luna-hover);
}
