.user-menu-name{
    display: flex;
    flex-direction: column;
    width: 126%;
    padding: 10%;
    background-color: #EAEAEA;
    object-fit: contain;
    /*border: 2px blue solid;*/
}

.user-profile-menu-list-element{
    display: flex;
    flex-direction: row;
    padding: 5%;
    border-bottom: #4a4a4a solid 1px;
    border-top: #4a4a4a solid 1px;
    width: 126%;
    background-color: var(--white-luna);
    transition: background-color 0.3s ease;
    font-weight: lighter;
}

.user-profile-menu-list-element:hover{
    background-color: var(--grey-luna);
}


.user-menu-icon{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 13%;
    height: auto;
}

.user-profile-menu-list-entry{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 12%;
}